DB_URL=jdbc:mysql://localhost:3308/wallet
DB_USERNAME=wallet_app
DB_PASSWORD=changeme
MAIL_USERNAME=default@example.com
MAIL_PASSWORD=defaultpass
JWT_SECRET=my-super-secret-jwt-key-that-needs-to-be-at-least-256-bits-long
JWT_EXPIRATION=86400000
